@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f4f4;
    color: #333;
}

header,
main,
footer {
    font-family: 'Noto Serif', serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navLink,
.navbar a {
    display: inline-block;
    color: #4A3F45;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: bold;
}

.navLink:hover,
.navbar a:hover {
    color: #90155D;
}

header {
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 居中 Junbo Wang */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.about-img,
section#about img {
    width: 10%;
    /* 缩小图片的尺寸，适当调整百分比 */
    height: auto;
    /* 保持图片的纵横比 */
    margin-right: 5%;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
}

.typing-effect {
    overflow: hidden;
    border-right: .15em solid pink;
    white-space: nowrap;
    letter-spacing: .2em;
    animation: typing 6s steps(30, end) 2s infinite, blink-caret 0.5s infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: pink;
    }
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

p,
li {
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 10rem;
}

.line {
    height: 1px;
    background-color: lightslategray;
    width: 86%;
    /* Adjusted width to match the margin specifications */
    margin-left: auto;
    margin-right: auto;
}